@model FRS.Web.Models.UserManagement

@{
    ViewBag.Title = "Create User";
}

@using (Html.BeginForm())
{

    <div class="well col-md-12" style="margin-top: 15px">
        <div class="float-left detailsContainer">
            <h3 class="page-header detailsHeaderSection float-left">@FRS.Web.Resources.User.User.UserDetail</h3>
            <input type="submit" id="addUser" value="@FRS.Web.Resources.Shared.Common.Create" class="btn btn-info" />
            @Html.ActionLink(FRS.Web.Resources.Shared.Common.Cancel, "Index", new { }, new { @class = "btn  btn-default" })
        </div>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label h5 col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                @Html.LabelFor(model => model.LastName, new { @class = "control-label h5 col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserEmail, new { @class = "control-label h5 col-sm-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserEmail)
                </div>
                @Html.LabelFor(model => model.Password, new { @class = "control-label h5 col-md-2" })
                <div class="col-md-3">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label h5 col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
                @Html.LabelFor(model => model.UserRole, new { @class = "control-label h5 col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.UserRole, new SelectList(ViewBag.UserRoles, "Name", "Name"), "--Select Role--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserRole)
                </div>
            </div>
            <div class="form-group">
                <p>@ViewBag.UserError</p>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <p>@ViewBag.UserError</p>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval/files")
}
